parameters:
    level: 6
    paths:
        - src

    symfony:
        containerXmlPath: %currentWorkingDirectory%/var/cache/test/TestContainerDebug.xml

includes:
    - %currentWorkingDirectory%/vendor/phpstan/phpstan-symfony/extension.neon
    - phpstan-baseline.neon
